<html>
<head>
    
    <title>Кроссовки</title>
    <link rel="stylesheet" href="~/css/Sneakers.css">
</head>
<body>
    <header> 
        <div id="head">
            <div class="head">Магазин спорт товаров MS10</div>
        </div>
    </header>
    <nav>
        <ul>
        @*   <li><a href="register.html">Регистрация</a></li>*@
        @*<li> @Html.ActionLink("Главная","Index")</li>*@
           @* <li><a href="T-Shirts.html">Футболки</a></li>*@
            <li> @Html.ActionLink("Футболки","TShirt")</li>
          @*  <li><a href="shorts.html">Шорты</a></li>*@
            <li> @Html.ActionLink("Шорты","Shorts")</li>
          @*  <li><a href="Sneakers.html">Кроссовки</a></li>*@
            <li> @Html.ActionLink("Кроссовки","Sneakers")</li>
            @*<li><a href="Ball.Html">Мячи</a></li>*@
            <li> @Html.ActionLink("Мячи","Ball")</li>
            @*<li><a href="basket.html">Корзина</a></li>*@
            <li> @Html.ActionLink("Корзина","Basket")</li>
            <li><a href="https://vk.com/spasido_bolshoye">Наши партнеры   |</a></li>
        </ul>
    </nav>
<div id="head2">
    <section>
        <div class="card-group">
            <div class="card">
                <img src="~/imgs/GreenFoot.jpg" alt="Кроссовки BIOM EVO RACER">
                <h3>Кроссовки BIOM EVO RACER</h3>
                <p class="price">5699 руб.</p>
                <p>Суперлегкие и гибкие кроссовки , привлекательного внешнего вида.Свободное положение стопы обеспечивает естественное движение ноги.Мягкая текстильная стелька создает оптимальный внутренний климат. Превосходная гибкость, амортизация и комфорт на любой поверхности.Кожаный верх без подкладки идеально облегает ногу, повторяя ее форму. </p>
                <button>В корзину</button>
            </div>
            <div class="card">
                <img src="~/imgs/RedFoot.jpg" alt="Кроссовки BIOM B ECCO">
                <h3>Кроссовки BIOM B ECCO </h3>
                <p class="price">3799 руб.</p>
                <p>Воздухопроницаемые материалы верха, великолепная посадка по ноге. Превосходное сцепление благодаря гибкой зоне сгиба в передней части подошвы. Амортизация и анатомическая поддержка всей поверхности стопы. Специально для бега.</p>
            <button>В корзину</button>
            </div>
            <div class="card">
                <img src="~/imgs/BlueFoot.jpg" alt="Кроссовки Nike x OFF-White Air Force 1 Low">
                <h3>Кроссовки Nike x OFF-White Air Force 1 Low</h3>
                <p class="price">2799 руб.</p>
                <p>Универсальные кроссовки Nike x OFF-White Air Force 1 Low помогут вам в создании вашего
                    повседневного стиля. Представленная модель имеет базовый белый цвет, поэтому обувь легко
                    сочетать с различными элементами гардероба.</p>
            <button>В корзину</button>      
            </div>
        </div>
    </section>
</div>
</body>
</html>