
<html>
<head>
    <title>Футболки</title>
    <link rel="stylesheet" href="~/css/TShirts.css">
</head>
<body>
    <header> 
        <div id="head">
            <div class="head">Магазин спорт товаров MS10</div>
        </div>
    </header>
    <nav>
        <ul>
         @*   <li><a href="register.html">Регистрация</a></li>*@
           @*<li> @Html.ActionLink("Главная","Index")</li>*@
           
           @* <li><a href="T-Shirts.html">Футболки</a></li>*@
            <li> @Html.ActionLink("Футболки","TShirt")</li>
          @*  <li><a href="shorts.html">Шорты</a></li>*@
            <li> @Html.ActionLink("Шорты","Shorts")</li>
          @*  <li><a href="Sneakers.html">Кроссовки</a></li>*@
            <li> @Html.ActionLink("Кроссовки","Sneakers")</li>
            @*<li><a href="Ball.Html">Мячи</a></li>*@
            <li> @Html.ActionLink("Мячи","Ball")</li>
            @*<li><a href="basket.html">Корзина</a></li>*@
            <li> @Html.ActionLink("Корзина","Basket")</li>
            <li><a href="https://vk.com/spasido_bolshoye">Наши партнеры   |</a></li>
        </ul>
    </nav>
<div id="head2">
    <section>
        <div class="card-group">
            <div class="card">
                <img src="~/imgs/WhiteDemix.jpg" alt="Футболка белая Demix">
                <h3>Футболка белая Demix</h3>
                <p class="price">399 руб.</p>
                <p>Из 100% хлопка. Выдержит много стирок</p>
                <button>В корзину</button>
            </div>
            <div class="card">
                <img src="~/imgs/Addidas.jpg" alt="Черная футболка Addidas Standart Tee">
                <h3>Черная футболка Addidas Standart Tee</h3>
                <p class="price">2099 руб.</p>
                <p>Из 100% хлопка. Прямиком из Индонезии</p>
            <button>В корзину</button>
            </div>
            <div class="card">
                <img src="~/imgs/Messi.jpg" alt="Футболка Месси">
                <h3>Футболка Месси</h3>
                <p class="price">4499 руб.</p>
                <p>Футболка Барселоны сезона 2018/19</p>
            <button>В корзину</button>
           
            </div>
        </div>
    </section>
</div>
</body>
</html>